// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;
$placeholder: #6B7280;
$thegreen: #3C908B;
$alertblue: #3292FA;
$editwhite: #E1F5F3;
$otherbackground: #E2F1FF;
$cream: #FFF7D6;

// ACTION BUTTON COLORS
$editbuttongreen: #11B386;
$crossbuttoncream:#FFF7D6;
$deletebuttonblue:#3292FA;

// WHOLE PAGE
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    body {
        background-color: #F3F9FF;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .sidebar {
        background-color: $darkblue;
        width: 280px;
        height: 100vh;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        .header {
            text-align: center;
            margin: 20px;
            h2 {
                color: white;
                padding-bottom: 30px;
            }
            img {
                width: 120px;
                height: 120px;
            }
        }
        .menu {
            padding-top: 90px;
            padding-left: 40px;
            ul {
                li {
                    a {
                        padding-left: 10px;
                        font-size: 25px;
                        text-decoration: none;
                        color: white;
                        line-height: 70px;
                        .icon {
                            img {
                                top: 5px;
                                width: 25px;
                                display: inline-block;
                            }
                        }
                    }
                    .check {
                        height: 20px;
                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }
        .logoutbutton {
            padding-top: 200px;
            height: 20px;
            text-align: center;
            .logout {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
                border: none;
                font-weight: bold;
                a {
                    color: $darkblue;
                }
            }
        }
    }

    //TO DO LIST
    .wrapper {
        .header {
            padding: 2rem 1rem;
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            h1 {
                font-size: 2.5rem;
                color: $darkblue;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            #deliverables-form {
                display: flex;
                input {
                    // margin: 0;
                    // border: none;
                    // border-radius: 0;
                    // width: 50%;
                    // height: 30%;
                    // padding: 10px;
                    // float: left;
                    // font-size: 16px; 
                    // height: 40px;
                }
            }
            #deliverables-input {
                flex: 1 1 0%;
                background-color: $darkblue;
                color: white;
                padding: 1rem;
                margin-right: 1rem;
                font-size: 1.25rem;
                border: none;
                outline: none;
            }
            #deliverables-input::placeholder {
                color: $placeholder;
            }
            #deliverables-input:active {
                color: white;
                background-color: $darkblue;
            }
            #deliverables-submit {
                font-size: 1.25rem;
                font-weight: 700;
                cursor: pointer;
                color: $darkblue;
                border: $darkblue 2px solid;
                background: none;
                text-align: center;
                width: 175px;
            }
            #deliverables-submit:active {
                border-radius: 10px;
            }
        }

        // PAGE BODY
        main {
            flex: 1 1 0%;
            // background-color: aqua;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            .deliverables-list {
                padding: 1rem;
            }
            #deliverables {
                border: 2px solid $darkblue;
                padding: 30px;
                .deliverables{
                    display: flex;
                    justify-content: space-between;
                    background-color: $darkblue;
                    color: white;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    transition: all .3s ease-in;
                    #content {
                        background-color: $darkblue;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                    // pops up when it is NOT read-only (for edit)
                    #content:not(:read-only){
                        color: $editwhite;
                        transition: all .4s ease-in;
                        appearance: none;
                        border: none;
                        outline: none;
                    }
                }
                // NOW the ACTION buttons
                .actions {
                    display: flex;
                    margin: 0 -0.5rem;
                    button {
                        cursor: pointer;
                        margin: 0 0.5rem;
                        font-size: 1rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: 0.4s;
                    }
                    .edit {
                        background-color: $darkblue;
                        color: $editbuttongreen;
                        border: none;
                        font-size: 15px;
                    }
                    .delete {
                        background-color: $darkblue;
                        color: $deletebuttonblue;
                        border: none;
                        font-size: 15px; 
                    }
                    .cross {
                        background-color: $darkblue;
                        color: $crossbuttoncream;
                        border: none;
                        font-size: 15px;
                    }
                } 
            }
        }
    }
}