// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    body {
        background-color: $background;
    }
    .sidebar {
        background-color: $darkblue;
        width: 280px;
        height: 100vh;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in;
        .header {
            text-align: center;
            margin: 20px;
            h2 {
                color: white;
                padding-bottom: 30px;
            }
            img {
                width: 120px;
                height: 120px;
            }
        }
        .menu {
            padding-top: 90px;
            padding-left: 40px;
            ul {
                li {
                    a {
                        padding-left: 10px;
                        font-size: 25px;
                        color: white;
                        text-decoration: none;
                        line-height: 70px;
                        .icon {
                            img {
                                top: 5px;
                                width: 25px;
                                display: inline-block;
                            }
                        }
                        .check {
                            // background-color: red;
                            height: 20px;
                            img {
                                width: 25px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
        }
        .logoutbutton {
            padding-top: 200px;
            height: 20px;
            text-align: center;
            .logout {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
                border: none;
                font-weight: bold;
                a {
                    color: $darkblue;
                }
            }
        }
    }

    // CALENDAR
    .container {
        // background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 538px;
        width: 100%;
        padding-top: 400px;
        padding-left: 200px;
        .calendar {
            // background-color: green;
            border: 2px $darkblue solid;
            padding-top: 40px;
            header {
                display: flex;
                gap: 400px;
                position: relative;
                .arrows {
                    padding-left: 120px;
                    #left {
                        border: 1px $darkblue solid;
                        border-radius: 50%;
                    }
                    #right {
                        border: 1px $darkblue solid;
                        border-radius: 50%;
                    }
                }
                p {
                    text-transform: uppercase;
                    padding-left: 38px;
                    font-size: 5vh;
                    font-weight: bold;
                    color: $darkblue;
                }
            }
            table {
                thead {
                    font-weight: 600;
                    text-transform: uppercase;
                    tr {
                        td {
                            line-height: 4em;
                            text-align: center;
                            width: 4em;
                            font-size: 3vh;
                            a {
                                color: #243F67;
                                text-decoration: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            background-color: #E2F1FF;
                            padding: 50px;
                            text-align: center;
                        }
                        .prev-month {
                            color: lightgray;
                        }
                        .next-month {
                            color: lightgray;
                        }
                    }
                }
            }
        }
    }
}