@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* body {
  background-color: #F3F9FF;
}
* body .page {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  line-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .page h1 {
  padding-bottom: 100px;
  color: #96B0D3;
  font-size: 3.5rem;
}
* body .page .apptbox {
  border-radius: 5px;
  line-height: 40px;
  padding: 40px 20px;
  background-color: #96B0D3;
  width: 900px;
  height: 800px;
}
* body .page .apptbox #phonename {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 21rem;
  padding-bottom: 20px;
}
* body .page .apptbox #phonename input {
  border: none;
  background-color: #96B0D3;
  color: #243F67;
  width: 500rem;
}
* body .page .apptbox #phonedate {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 21rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
* body .page .apptbox #phonedate input {
  border: none;
  background-color: #96B0D3;
  color: #243F67;
  width: 500rem;
}
* body .page .apptbox #phonenumber {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 21rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
* body .page .apptbox #phonenumber input {
  border: none;
  background-color: #96B0D3;
  color: #243F67;
  width: 500rem;
}
* body .page .apptbox #phonetime {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 21rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
* body .page .apptbox #phonetime input {
  border: none;
  background-color: #96B0D3;
  color: #243F67;
  width: 500rem;
}
* body .page .apptbox hr {
  height: 2px;
  background-color: #243F67;
  border: none;
}
* body .page .apptbox h3 {
  color: #243F67;
  text-align: left;
}
* body .page .apptbox p a {
  font-weight: 2VH;
  text-decoration: none;
  color: white;
}
* body .page .apptbox .date {
  padding-top: 30px;
}
* body .page .apptbox .phonenum {
  padding-top: 30px;
}
* body .page .apptbox .topic {
  padding-top: 30px;
}
* body .page .apptbox .timeline {
  display: flex;
  gap: 80px;
}
* body .page .apptbox .time {
  padding-top: 30px;
}
* body .page .apptbox #phonetimes {
  display: flex;
  justify-content: space-between;
}
* body .page .apptbox #phonetimes .timebuttons {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-right: 100px;
  width: 700px;
}
* body .page .apptbox #phonetimes .timebuttons button {
  width: 80px;
  background-color: #243F67;
  color: #F3F9FF;
  height: 25px;
  border: #243F67 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
* body .page .apptbox .buttondiv {
  height: 100px;
  padding-top: 70px;
}
* body .page .apptbox .buttondiv button {
  background-color: #243F67;
  border: 1px #243F67 solid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
* body .page .apptbox .buttondiv .back {
  padding-top: 20px;
}
* body .page .apptbox .buttondiv .back a {
  color: #243F67;
}
* body .page .apptbox .buttondiv .callslist a {
  color: #243F67;
}
* body .sidebar {
  background-color: #243F67;
  width: 280px;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
}
* body .sidebar .header {
  text-align: center;
  margin: 20px;
}
* body .sidebar .header h2 {
  color: white;
  padding-bottom: 30px;
}
* body .sidebar .header img {
  width: 120px;
  height: 120px;
}
* body .sidebar .menu {
  padding-top: 90px;
  padding-left: 40px;
}
* body .sidebar .menu ul li a {
  padding-left: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  line-height: 70px;
}
* body .sidebar .menu ul li a .icon img {
  top: 5px;
  width: 25px;
  display: inline-block;
}
* body .sidebar .menu ul li a .check {
  height: 20px;
}
* body .sidebar .menu ul li a .check img {
  width: 25px;
}
* body .sidebar .logoutbutton {
  padding-top: 200px;
  height: 20px;
  text-align: center;
}
* body .sidebar .logoutbutton .logout {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  border: none;
  font-weight: bold;
}
* body .sidebar .logoutbutton .logout a {
  color: #243F67;
}/*# sourceMappingURL=phonecall.css.map */