@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

* body .sidebar {
  background-color: #243F67;
  width: 280px;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
}

* body .sidebar .header {
  text-align: center;
  margin: 20px;
}

* body .sidebar .header h2 {
  color: white;
  padding-bottom: 30px;
}

* body .sidebar .header img {
  width: 120px;
  height: 120px;
}

* body .sidebar .menu {
  padding-top: 90px;
  padding-left: 40px;
}

* body .sidebar .menu ul li a {
  padding-left: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  line-height: 70px;
}

* body .sidebar .menu ul li a .icon img {
  top: 5px;
  width: 25px;
  display: inline-block;
}

* body .sidebar .menu ul li a .check {
  height: 20px;
}

* body .sidebar .menu ul li a .check img {
  width: 25px;
}

* body .sidebar .logoutbutton {
  padding-top: 200px;
  height: 20px;
  text-align: center;
}

* body .sidebar .logoutbutton .logout {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  border: none;
  font-weight: bold;
}

* body .sidebar .logoutbutton .logout a {
  color: #243F67;
}

* body .page {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  padding-left: 280px;
  line-height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .page h1 {
  color: #4375C0;
  font-size: 3.5rem;
  padding-bottom: 90px;
  padding-left: 20px;
}
<<<<<<< HEAD
* body .page .outline {
=======

* body .page .zooms {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  border: 2px solid #243F67;
  height: 700px;
  padding: 40px;
}
* body .page .outline .zooms {
  padding: 30px;
  height: 550px;
  overflow-y: scroll;
}
<<<<<<< HEAD
* body .page .outline .zooms::-webkit-scrollbar {
  border: 1px solid #4375C0;
  border-radius: 10px;
}
* body .page .outline .zooms::-webkit-scrollbar-thumb {
  background: #4375C0;
  border: 1px #4375C0 solid;
  border-radius: 10px;
}
* body .page .outline .settings {
  display: flex;
  justify-content: right;
  padding: 30px 50px 0px 0px;
}
* body .page .outline .settings #gear {
  height: 40px;
  padding: 5px 5px 5px 0px;
}
* body .page .outline .settings #gear img {
  width: 25px;
  height: 25px;
}
* body .page .outline .settings a {
  color: #243F67;
  font-weight: bold;
  font-size: 1.3rem;
}
* body .page .outline #zoom_items {
=======

* body .page .zooms #zoom_items {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  background-color: #4375C0;
  padding: 2rem;
  margin-bottom: 2rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content input {
=======

* body .page .zooms #zoom_items #content input {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  background-color: #4375C0;
  border: none;
  text-align: center;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content input:focus {
=======

* body .page .zooms #zoom_items #content input:focus {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  background-color: #4375C0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  text-align: center;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomname {
=======

* body .page .zooms #zoom_items #content #zoomname {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  width: 220px;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomdate {
=======

* body .page .zooms #zoom_items #content #zoomdate {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: white;
  font-size: 1.1rem;
  width: 150px;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomtime {
=======

* body .page .zooms #zoom_items #content #zoomtime {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: #FFF7D6;
  font-size: 1.1rem;
  width: 150px;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomnumber {
=======

* body .page .zooms #zoom_items #content #zoomnumber {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: #FEFC00;
  font-size: 1.1rem;
  width: 150px;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomtopic {
=======

* body .page .zooms #zoom_items #content #zoomtopic {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: #6cce63;
  font-weight: bold;
  font-size: 1.2rem;
  width: 300px;
  padding-left: 10px;
}
<<<<<<< HEAD
* body .page .outline #zoom_items #content #zoomlink {
=======

* body .page .zooms #zoom_items #content #zoomlink {
>>>>>>> 00da3e623eaee7e19b817c15e3b22c0af81e4e5f
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
}
/*# sourceMappingURL=zoomcalllist.css.map */