@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;
$crossbuttoncream: #FFF7D6;

// TEXT FIELD COLOR
$textfield: #4375C0;
// PHONE NUM COLOR
$phonefield: #FEFC00;
// TOPIC FIELD COLOR
$topicfield: #6cce63;

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    body {
        // background-color: aquamarine;
        .sidebar {
            background-color: $darkblue;
            width: 280px;
            height: 100vh;
            padding: 20px 0;
            position: fixed;
            top: 0;
            left: 0;
            transition: all 0.5 ease-in;
            .header {
                text-align: center;
                margin: 20px;
                h2 {
                    color: white;
                    padding-bottom: 30px;
                }
                img {
                    width: 120px;
                    height: 120px;
                }
            }
            .menu {
                padding-top: 90px;
                padding-left: 40px;
                ul {
                    li {
                        a {
                            padding-left: 10px;
                            font-size: 25px;
                            color: white;
                            text-decoration: none;
                            line-height: 70px;
                            .icon {
                                img {
                                    top: 5px;
                                    width: 25px;
                                    display: inline-block;
                                }
                            }
                            .check {
                                height: 20px;
                                img {
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .logoutbutton {
                padding-top: 200px;
                height: 20px;
                text-align: center;
                .logout {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: white;
                    border: none;
                    font-weight: bold;
                    a {
                        color: $darkblue;
                    }
                }
            }
        }
        // PAGE PART
        .page {
            height: 100vh;
            width: 100%;
            padding-top: 70px;
            padding-left: 280px;
            line-height: 40px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                color: $textfield;
                font-size: 3.5rem;
                padding-bottom: 90px;
                padding-left: 20px;
            }
            // HERE is where you want the frame
                .outline {
                    border: 2px solid $darkblue;
                    // background-color: aqua;
                    height: 700px;
                    padding: 40px;
                    .zooms {
                        padding: 30px;
                        // HERE SET THE HEIGHT FOR THE SCROLLBAR EFFECT
                        height: 550px;
                        // ADD A SCROLLAR FEATURE TO THIS DIV
                        overflow-y: scroll;
                        // Here is where you place the zoom call list items
                    }
                    .zooms::-webkit-scrollbar {
                        // background-color: $textfield;
                        border: 1px solid $textfield;
                        border-radius: 10px;
                    }
                    .zooms::-webkit-scrollbar-thumb {
                        background: $textfield;
                        // background: white;
                        border: 1px $textfield solid;
                        border-radius: 10px;
                    }
                    .settings {
                        display: flex;
                        // background-color: #6cce63;
                        justify-content: right;
                        padding: 30px 50px 0px 0px;
                        #gear{
                            // background-color: aqua;
                            height: 40px;
                            padding: 5px 5px 5px 0px;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        a {
                        color: $darkblue;
                        font-weight: bold;
                        font-size: 1.3rem;
                        }
                    }                
                #zoom_items {
                    background-color: $textfield;
                    padding: 2rem;
                    margin-bottom: 2rem;
                    transition: all .3s ease-in;
                    // height: 100px;
                    #content {
                        input {
                            background-color: $textfield;
                            border: none;
                            text-align: center;
                        }
                        input:focus {
                            background-color: $textfield;
                            appearance: none;
                            border: none;
                            outline: none;
                            text-align: center;
                        }
                        #zoomname {
                            color: white;
                            font-weight: bold;
                            font-size: 1.3rem;
                            width: 220px;
                            // background-color: darkblue;
                        }
                        #zoomdate {
                            color: white;
                            font-size: 1.1rem;
                            width: 150px;
                            // background-color: darkmagenta;
                        }
                        #zoomtime {
                            color: $crossbuttoncream;
                            font-size: 1.1rem;
                            width: 150px;
                            // background-color: darkgoldenrod;
                        }
                        #zoomnumber {
                            color: $phonefield;
                            font-size: 1.1rem;
                            width: 150px;
                            // background-color: darkkhaki;
                        }
                        #zoomtopic {
                            color: $topicfield;
                            font-weight: bold;
                            font-size: 1.2rem;
                            width: 300px;
                            padding-left: 10px;
                            // background-color: darkorange;
                        }
                        #zoomlink {
                            color: white;
                            font-weight: bold;
                            font-size: 1.1rem;
                            cursor: pointer;
                            padding-left: 20px;
                            padding-right: 20px;
                            width: 350px;
                            // background-color: darkcyan;
                        }
                    }
                }
            }
        }
    }
}